{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!--
        <script type="text/javascript" src="jquery-1.8.2.min.js"></script>
        <style type="text/css">
            .contenedor{ width: 350px; float: left;}
            .titulo{ font-size: 12pt; font-weight: bold;}
            #camara, #foto{
                width: 320px;
                min-height: 240px;
                border: 1px solid #008000;
            }
        </style>
        -->
    </head>
    <body>
        <h1>Menu principal</h1>
        <!--  <p>aqui irá toda la interfaz del proyecto <strong>CDS</strong> </p> -->
    
        <!-- agregar link de la imagen -->
        <!--
        <input type="text" class="form-control" name="username" placeholder="agregar link de imagen" required="" autofocus="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>  
        
        <p> / </p> -->
    
        <!-- Subir imagen -->
        <p><strong>elige una fotografia a escanear</strong> </p>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="archivo">
            <input type="submit">
           </form>
        
        <!-- activar la camara -->
        <!--
        <p><strong>asi como activar la camara y buscar a la persona en la base de datos</strong> </p>
        
        <input type="button" value="activar camara">
        <p> / </p> -->

    </body>
    </html>

{% endblock %}

